.conteiner-tela-login{
    height: 844px;
    margin: 0px;
    
    box-sizing: border-box;
    background-color: black;

    text-align: center;
    color: white;
}

.login-nome{

    padding-top: 3em;
    font-family: 'Roboto', sans-serif;
    font-style: Medium;
  
    font-size: 50px;

}
