.conteiner-chat {
   
    margin:0px;
    height: 844px;
    background-color: #548DFA;
}

.conteiner-mensagens-chat {

    height: 40em; 
    
    
    margin: 2em 18px 0px 18px;   
    background-color: #3769C7;
 
}