
.conteiner-conta{
    text-align: center;
    margin: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 844px;
}

.conta {
    margin-top: 2em;
    font-size: 43px;

}