

@media  only screen and (max-height: 844px) {
    
    .conta {
        margin-top: 2em;
        font-size: 43px;
    
    }
}
@media only screen and (max-height: 844px) {
    
    .conteiner-conta{
        text-align: center;
        margin: 0px;
        box-sizing: border-box;
        background-color: black;
        color: white;
        height: 844px;
    }
}




@media only screen and (max-height: 700px) {
    

.conteiner-conta{
    text-align: center;
    margin: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 700px;
}

}



@media  only screen and (max-height: 700px) {
    
    .conta {
        margin-top: 1em;
        font-size: 43px;
    
    }
}