


a{ 
    cursor: pointer;
    color: #FFFFFF
}
    a:link {
       color:#FFFFFF;
       text-decoration: none;
      }
   
      a:hover {
       color: #50B4BF;
     
   
      }
   
    



.retornar{
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
   
}

.button {
    
    margin-top: 20px;
    font-size: 16;

    button {
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;

        font-size: 15px;

        border: none;
        border-radius: 100px;

        font-family: 'Roboto', sans-serif;

        color: #FFFFFF;
        background-color: #50B4BF;
    }
}