
@media screen and  (min-width: 1024px) and (max-width: 1600px){

.chat-cabecalho {
    padding-top: 0.5em;
}


ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    
    justify-content: space-between;
    margin: 0px;
}


.img-logo{
    display: flex;
    align-items: center;

    .logo-img {
        color: white;
        font-size: 2em;
    }
}


.sair {
    margin-right:2em ;
}


.sair img {
      height: 3em;
      width: 3em;
   
}
}




@media  screen and  (min-width: 320px) and (max-width: 480px) {
.chat-cabecalho {
    padding-top: 0.5em;
}


ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    
    justify-content: space-between;
    margin: 0px;
}


.img-logo{
    display: flex;
    align-items: center;

    .logo-img {
        color: white;
        font-size: 2em;
    }
}


.sair {
    margin-right:2em ;
}


.sair img {
      height: 3em;
      width: 3em;
   
}
}






///////////////
/// 
/// 
/// 
/// 
/// 
/// 
















